In [1]:
import pandas as pd

In [2]:
first = pd.DataFrame({'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8]})

In [3]:
second = first

In [4]:
second

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [14]:
third = first.copy() #creating a copy of

In [15]:
third

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

All of the above is a shallow copy which basically means any changes made to one dataframe will be applied to others as well

In deep copy everything will be copied to that frame only and that will be a whole new dataframe